<label class="checkbox checkbox--material">
  <input type="checkbox" class="checkbox__input checkbox--material__input">
  <div class="checkbox__checkmark checkbox--material__checkmark"></div>
  OFF
</label>
<label class="checkbox checkbox--material">
  <input type="checkbox" class="checkbox__input checkbox--material__input" checked="checked">
  <div class="checkbox__checkmark checkbox--material__checkmark"></div>
  ON
</label>
<label class="checkbox checkbox--material">
  <input type="checkbox" class="checkbox__input checkbox--material__input" checked="checked" disabled>
  <div class="checkbox__checkmark checkbox--material__checkmark"></div>
  ON
</label>
<label class="checkbox checkbox--material">
  <input type="checkbox" class="checkbox__input checkbox--material__input" disabled>
  <div class="checkbox__checkmark checkbox--material__checkmark"></div>
  Disabled
</label>