
<!-- Input Select -->

<label for="input-example" class="self-start">Label*</label>
<input type="text" id="input-example" name="input-example" list="input-example-list" placeholder="Placeholder" class="#">
<datalist id="input-example-list">
  <option value="Option 1">Option 1</option>
  <option value="Option 2">Option 2</option>
  <option value="Option 3">Option 3</option>
</datalist>

<!-- Copy/paste this include for add our Select Form -->
{# {% include "02-atoms-form/input-select.njk" %} #}