<!-- ========================= -->
<!--        INPUT TEXT        -->
<!-- ========================= -->

<div class="space-y-4 max-w-xs">
  
  <!-- Default -->
  <div>
    <label for="Label" class="block typography-label-l">Label * </label>
    <input type="placeholder" id="Placeholder" placeholder="Placeholder" class="input"/>
  </div>

  <!-- Filled -->
  <div>
    <label for="input-filled" class="block typography-label-l">Filled *</label>
    <input type="text" id="input-filled" value="Filled value" class="input"/>
  </div>

  <!-- Critical -->
  <div>
    <label for="input-critical" class="block typography-label-l text-danger">Critical *</label>
    <input type="text" id="input-critical" placeholder="Placeholder" class="input critical"/>
  </div>

  <!-- Disabled -->
  <div>
    <label for="input-disabled" class="block typography-label-l">Disabled *</label>
    <input type="text" id="input-disabled" placeholder="Placeholder" class="input" disabled/>
  </div>

</div>

<!-- ========================= -->
<!-- HOW TO USE THIS COMPONENT -->
<!-- ========================= -->

<!-- 1. Wrap the input inside a <div> -->
<!-- 2. Add a <label> element above the input for accessibility -->
<!-- 3. Use the "input" class for default styling -->


