
<!-- Select form -->

<select name="select-form" class="select">
    <option value="label" selected hidden>{{ select.label }} &#9660;</option>
  {% for option in select.options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
  {% endfor %}
</select>

<!-- Copy/paste this include for add our Select Form -->
{# {% include "02-atoms-form/select.njk" %} #}