<!-- ========================= -->
<!--        SELECT FORM        -->
<!-- ========================= -->

{% macro renderSelect(name, options) %}
    <div class="mt-6 mb-6 mx-auto">
        <select name="{{ name }}" class="select">
            {% for option in options %}
                <option value="{{ option.value }}">{{ option.label }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro %}

<!-- ========================= -->
<!-- HOW TO USE THIS COMPONENT -->
<!-- ========================= -->

<!-- 1. Import the macro at the top of your page -->
{# {% from "02-atoms-form/select.njk" import renderSelect %} #}

<!-- 2. Insert the component in your template -->
{# {{ renderSelect("categories", select.categories) }} #}

<!-- 3. Replace "categories" with your actual key from select.json -->
