
<!-- Select Form -->

{# <select name="{{ select.name }}" class="select">
    <option value="label" selected hidden>{{ select.label }}</option>
  {% for option in select.options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
  {% endfor %}
</select> #}

{% macro selectBox(name, options) %}
    <select name="{{ select.name }}">
        {% for option in options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
        {% endfor %}
    </select>
{% endmacro %}


<!-- Copy/paste this include for add our Select Form -->
{# {% include "02-atoms-form/select.njk" %} #}