<div class="menu-burger">
    <!-- Burger button-->
    <div class="toggle-button lg:hidden">
        <i class="fa-solid fa-bars fa-lg"></i>
    </div>

    <!-- Dropdown menu -->
    <div class="dropdown-menu absolute -top-full left-0 max-lg:bg-gray-400 w-full flex flex-col gap-6 items-center py-2 font-bold text-lg lg:static lg:flex-row lg:justify-end">
        <ul role="list" class="flex flex-col gap-6 items-center lg:flex-row lg:gap-8">
            <li>
                <a href="/" class="relative text-gray-700 after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-gray-700 after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">HOME</a>
            </li>
            <li>
                <a href="/blog/" class="relative text-gray-700 after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-gray-700 after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">BLOG</a>
            </li>
            <li>
                <a href="/contact/" class="relative text-gray-700 after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-gray-700 after:scale-x-0 after:origin-left after:transition-transform after:duration-300 hover:after:scale-x-100">CONTACT</a>
            </li>
        </ul>
    </div>
</div>

    <!-- Action burger button -->
<script>
    const toggleBtn = document.querySelector(".toggle-button");
    const dropdown = document.querySelector(".dropdown-menu");

    toggleBtn.addEventListener("click", () => {
        dropdown
            .classList
            .toggle('top-20');
    })
</script>