{#
=========================
      LIST CONTENT        
=========================
#}

{% macro renderListContent(options) %}
  {% if options.datas %}
    {% set globalStyle = options.datas.globalStyle %}
    {% set itemStyle = options.datas.itemStyle.default %}
    
    {% set listContentData = null %}
    {% if options.name %}
      {% for listSet in options.datas.list_contents %}
        {% if listSet.name == options.name %}
          {% set listContentData = listSet %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if not listContentData %}
      {% set listContentData = options.datas.list_contents[0] %}
    {% endif %}
    
    {% set listVariant = options.datas.variants[listContentData.style | default('default')] %}
    {% if listContentData.itemStyle %}
      {% set itemStyle = options.datas.itemStyle[listContentData.itemStyle] %}
    {% endif %}
    
    <div class="{{ globalStyle }} {{ listVariant }} {{ options.class | default('') }}">
      {% for item in listContentData.items %}
        <div class="{{ itemStyle }}">
          {% if options.lockups %}
            {% for lockup in options.lockups.lockups %}
              {% if lockup.name == item.lockupName %}
                {% if lockup.type == "block-content" %}
                  {% from "02-molecules/lockup.njk" import renderLockup %}
                  {{ renderLockup({ 
                    name: item.lockupName,
                    datas: options.lockups,
                    images: options.images,
                    headings: options.headings
                  }) }}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            <span class="text-gray-500">Lockup: {{ item.lockupName }}</span>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <span class="text-red-500">List content data not found</span>
  {% endif %}
{% endmacro %}


{#
============================
Summon HAT Components Wisely
============================

1. Import the macro at the top of your page
{% from "02-molecules/list-content.njk" import renderListContent %}

2. Call the list-content component with a specific name
{{ renderListContent({ 
    name: "forgotten_legends",
    datas: molecules.list_contents,
    lockups: molecules.lockups,
    images: atoms.images,
    headings: atoms.headings
}) }}

3. Using custom styles
{{ renderListContent({ 
    name: "mystical_artifacts",
    datas: molecules.list_contents,
    lockups: molecules.lockups,
    images: atoms.images,
    headings: atoms.headings,
    class: "my-custom-list-class"
}) }}

4. Structure of list-contents.json
{
  "list_contents": [
    {
      "name": "forgotten_legends",
      "style": "default",
      "itemStyle": "default",
      "items": [
        {
          "lockupName": "forgotten_prophecy"
        },
        {
          "lockupName": "forbidden_tome"
        }
      ]
    }
  ]
}

Only fools stack their gold on shaky ground! ⚒️💎
#}