<label class="radio-button radio-button--material">
  <input type="radio" class="radio-button__input radio-button--material__input" name="r" checked="checked">
  <div class="radio-button__checkmark radio-button--material__checkmark"></div>
  Label
</label>
<label class="radio-button radio-button--material">
  <input type="radio" class="radio-button__input radio-button--material__input" name="r">
  <div class="radio-button__checkmark radio-button--material__checkmark"></div>
  Label
</label>
<label class="radio-button radio-button--material">
  <input type="radio" class="radio-button__input radio-button--material__input" name="s" disabled checked>
  <div class="radio-button__checkmark radio-button--material__checkmark"></div>
  Label
</label>
<label class="radio-button radio-button--material">
  <input type="radio" class="radio-button__input radio-button--material__input" name="s" disabled>
  <div class="radio-button__checkmark radio-button--material__checkmark"></div>
  Label
</label>