<section class="hero py-16 bg-hero-bg">
    <div class="container mx-auto px-4">

        <div class="flex flex-col md:flex-row justify-between items-center w-full">

            <!-- Left column: Title, Paragraph, Buttons -->
            <div class="w-1/2 flex flex-col m-6 justify-center items-center">

                <!-- Hero title & paraghs-->
                <h1>
                    {{ hero.title }}
                </h1>
                <p class="text-sm text-gray-500 mt-4">
                    {{ pageData.paragraph01 }}
                </p>
                <p class="text-sm text-gray-500 mt-4">
                    {{ pageData.paragraph02 }}
                </p>
                <!-- Hero buttons-->
                <div class="flex space-x-4 mt-4">
                    {% set btnHref = '/#featured-articles' %}
                    {% set btnLabel = 'Featured articles' %}
                    {% set btnStyle = 'primary' %}
                    {% include "03-atoms-buttons/button-link.njk" %}

                    {% set btnHref = './blog' %}
                    {% set btnLabel = 'Most recent articles' %}
                    {% set btnStyle = 'primary' %}
                    {% include "03-atoms-buttons/button-link.njk" %}
                </div>
            </div>

            <!-- Right column : Image -->
            <div class="w-1/2 m-6">
                <img src="{{ pageData.image }}" alt="{{ pageData.imageAlt }}" class="w-3/4 object-cover">
            </div>

        </div>

    </div>
</section>