<div class="p-4 mx-auto max-w-xl bg-gray-200 font-[sans-serif]">

    <!-- Form title -->
    <h1 class="text-2xl text-gray-800 font-bold text-center">Contact us</h1>

    <!-- Form action -->
    <form action="/submit-form" name="contact" method="POST" data-netlify="true" class="ml-auto space-y-4">

        <!-- Honeypot hidden input -->
        <input type="text" name="bot-field" style="display: none;">

        <!-- Form inputs -->
        {# {% for input in contact.inputs %}
            {% set id = input.id %}
            {% set name = input.name %}
            {% set label = input.label %}
            {% set required = input.required %}
            {% set placeholder = input.placeholder %}
            {% set value = input.value %}
            {% set pattern = input.pattern %}
            {% set minlength = input.minlength %}
            {% set maxlength = input.maxlength %}

            {% include "03-atoms-form/input-text.njk" %}
        {% endfor %} #}

        <!-- Message textarea -->
        <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <textarea placeholder='Message' rows="6" class="w-full text-gray-800 rounded-md px-4 border text-sm pt-2.5 outline-none focus:border-2"></textarea>
        </div>

        <!-- Google reCAPTCHA -->
        <div data-netlify-recaptcha="true"></div>

        <!-- Include submit button -->
        {% include '03-atoms-buttons/button-submit.njk' %}
    </form>
</div>