<div class="space-y-6 mt-4">

  <div class="flex items-center">
    <input id="checkbox1" type="checkbox" class="w-4 h-4 mr-3 focus:ring-1 focus:ring-offset-slate-200 focus:ring-offset-4 focus:ring-[#007bff]"/>
    <label for="checkbox1" class="text-black text-sm">Default checkbox</label>
  </div>

  <div class="flex items-center">
    <input id="checkbox1" type="checkbox" class="w-4 h-4 mr-3 focus:ring-1 focus:ring-offset-2 focus:ring-[#007bff]"/>
    <label for="checkbox1" class="text-black text-sm">Default checkbox</label>
  </div>

  <div class="flex items-center">
    <input id="checkbox2" type="checkbox" class="w-4 h-4 mr-3 focus:ring-1 focus:ring-offset-gray-200 focus:ring-offset-4 focus:ring-[#007bff]" checked="checked"/>
    <label for="checkbox2" class="text-black text-sm">Checked checkbox</label>
  </div>

  <div class="flex items-center">
    <input id="checkbox3" type="checkbox" class="w-4 h-4 mr-3" disabled="disabled"/>
    <label for="checkbox3" class="text-gray-400 text-sm">Disabled checkbox</label>
  </div>

</div>