<div class="space-y-6">

  <div class="flex items-center">
    <input type="radio" class="w-5 h-5" />
    <label class="text-sm text-black ml-4">Default radio</label>
  </div>

  <div class="flex items-center">
    <input type="radio" class="w-5 h-5" checked />
    <label class="text-sm text-black ml-4">Checked radio</label>
  </div>

  <div class="flex items-center">
    <input type="radio" class="w-5 h-5" disabled />
    <label class="text-sm text-gray-400 ml-4">Disabled radio</label>
  </div>

</div>