<header class="page-header bg-white shadow-md">
    <div class="container mx-auto px-4 py-4">
        <div class="flex justify-between items-center">
            <div class="flex flex-row items-center space-x-4">
                <img src="{{ site.logo }}" alt="Logo" class="w-32 h-auto">
            </div>
            <nav>
                <ul role="list" class="flex space-x-6">
                    <li>
                        <a href="/" class="text-lg text-gray-700 hover:text-blue-500 font-bold">HOME</a>
                    </li>
                    <li>
                        <a href="/blog/" class="text-lg text-gray-700 hover:text-blue-500 font-bold">BLOG</a>
                    </li>
                    <li>
                        <a href="/contact/" class="text-lg text-gray-700 hover:text-blue-500 font-bold">CONTACT</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>