<header class="page-header bg-gray-400 shadow-md">
    <div class="container mx-auto px-4 py-4">
            <nav class="flex items-center justify-between px-12 h-16">
                <img src="{{ site.logo }}" alt="Logo" class="w-32 h-auto">

                <div class="dropdown-menu absolute -top-full left-0 bg-gray-400 w-full flex flex-col gap-6 items-center py-2 font-bold text-lg">
                    <ul role="list" class="flex flex-col gap-6 items-center">
                        <li>
                            <a href="/" class="text-gray-700 hover:text-white">HOME</a>
                        </li>
                        <li>
                            <a href="/blog/" class="text-gray-700 hover:text-white">BLOG</a>
                        </li>
                        <li>
                            <a href="/contact/" class="text-gray-700 hover:text-white ">CONTACT</a>
                        </li>
                    </ul>
                </div>

                <div class="toggle-button">
                    <i class="fa-solid fa-bars fa-lg"></i>
                </div>
            </nav>
    </div>
</header>

<script>
    const toggleBtn = document.querySelector(".toggle-button");
    const dropdown = document.querySelector(".dropdown-menu");

    toggleBtn.addEventListener("click", () => {
        dropdown.classList.toggle('top-16');
    })
</script>