<header class="page-header bg-gray-200 shadow-md">
    <div class="container mx-auto px-4 py-4">
        <nav class="flex items-center justify-between px-12 h-16 gap-8">
            <!-- Logo -->
            <img src="{{ site.logo }}" alt="Logo" class="w-32 h-auto">

                <!-- Include menu burger -->
                {% include '01-molecules-navigation/menu-burger.njk' %}
            </div>
        </nav>
    </div>
</header>