<!-- About section -->
<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">

            <!-- About title & paragraphs -->
            <h2 class="section-title">{{ about.title }}</h2>
            <p>{{ about.paragraph01 }}</p>
            <p>{{ about.paragraph02 }}</p>
            <div class="flex-group">
                <!-- Button "contact me" -->
                {% set btnHref = '#' %}
                {% set btnLabel = 'Contact me' %}
                {% set btnStyle = 'primary' %}
                {% include "03-atoms-buttons/button-link.njk" %}
            </div>
        </div>
        <div>
            <!-- About image and caption -->
            <img src="{{ about.image }}" alt="{{ about.imageAlt }}" class="about__image">
        </div>
    </div>
</section>