<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">
            <h1 class="section-title">{{ hero.title }}</h1>
            <p>{{ hero.description }}</p>
            <p>{{ hero.subDescription }}</p>
            <div class="flex-group">
                {% set btnHref = '/#featured-articles' %}
                {% set btnLabel = 'Featured articles' %}
                {% set btnStyle = 'primary' %}
                {% include "02-atoms-buttons/button-link.njk" %}

                {% set btnHref = './blog' %}
                {% set btnLabel = 'Most recent articles' %}
                {% set btnStyle = 'neutral' %}
                {% include "02-atoms-buttons/button-link.njk" %}
            </div>
        </div>
        <div>
            <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" class="hero__image">
        </div>
    </div>
</section>