<section class="hero">
    <div class="container flow">
        <div class="hero__content flow">
            <h1 class="section-title">{{ hero.title }}</h1>
            <p>{{ hero.description }}</p>
            <p>{{ hero.subDescription }}</p>
            <div class="flex-group">
                {% for button in hero.buttons %}
                    {% set btnHref = button.url %}
                    {% set btnLabel = button.label %}
                    {% set btnStyle = button.style %}
                    {% include "02-atoms-buttons/button-link.njk" %}
                {% endfor %}
            </div>
        </div>
        <div>
            <img src="{{ hero.image }}" alt="{{ hero.imageAlt }}" class="hero__image">
        </div>
    </div>
</section>