
/* ===================== LINKS ===================== */

/* Base */
.link {
    text-decoration: underline;
}

/* States */
.link:hover {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}
.link:focus {
    text-decoration: none;
    border: 2px solid var(--color-information); 
    border-radius: var(--radius-sm);
    padding: var(--spacing-1);
}
.link:disabled {
    text-decoration: underline;
    color: var(--color-neutral-100);
    pointer-events: none;
}

/* ================== NOTIFICATION CHIP ================== */

/* Base */
.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-critical);
    color: var(--color-neutral-1000);
    font-size: 0.75rem;
    font-weight: bold;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Adaptation for two-digit values */
.chip[data-size="medium"] {
    width: 2rem;
    height: 2rem;
    font-size: 0.875rem;
}

/* Adaptation for three-digit values and above */
.chip[data-size="large"] {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
}


/* ===================== TAGS ===================== */

/* Base */
.tag {
    display: inline-block;
    padding: var(--spacing-1) var(--spacing-3);
    border-radius: var(--radius-md);
    text-transform: uppercase;
    margin: var(--spacing-1);
    font-weight: var(--heading-font-weight);
}

/* Variants */
.tag-default {
    background-color: var(--color-neutral-000);
    color: var(--color-neutral-1000);
}
.tag-default-gray {
    background-color: var(--color-neutral-360);
    color: var(--color-neutral-000);
    border: solid var(--color-neutral-100); 
}

/* Information */
.tag-information {
    background-color: var(--color-information);
    color: var(--color-neutral-1000);
}
.tag-information-gray {
    background-color: var(--color-information-contrast-light-02);
    color: var(--color-information);
    border: solid var(--color-information-contrast-light-01);
}

/* Success */
.tag-success {
    background-color: var(--color-success);
    color: var(--color-neutral-1000);
}
.tag-success-gray {
    background-color: var(--color-success-contrast-light-02);
    color: var(--color-success);
    border: solid var(--color-success-contrast-light-01); 
}

/* Warning */
.tag-warning {
    background-color: var(--color-warning);
    color: var(--color-neutral-1000);
}
.tag-warning-gray {
    background-color: var(--color-warning-contrast-light-02);
    color: var(--color-warning);
    border: solid var(--color-warning-contrast-light-01); 
}

/* Critical */
.tag-critical {
    background-color: var(--color-critical);
    color: var(--color-neutral-1000);
}
.tag-critical-gray {
    background-color: var(--color-critical-contrast-light-02);
    color: var(--color-critical);
    border: solid var(--color-critical-contrast-light-01); 
}

/* ===================== TOOLTIPS ===================== */

/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: var(--color-neutral-900); 
    color: var(--color-neutral-000); 
    border-radius: 6px;
    padding: 8px;
    box-shadow: 0px 0px 8px var(--color-neutral-640); 

    /* Positioning */
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    /* Animation */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Tooltip hover */
.tooltip-container:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* ===================== SELECT ===================== */

/* Base */
.select {
    width: 100%;
    padding: var(--spacing-2); 
    border-radius: var(--radius-md);
    border: 1px solid var(--color-neutral-000);
    color: var(--color-neutral-000);
    background: var(--color-neutral-1000);
    cursor: pointer;
}

/* States */
.select:focus {
    outline: 2px solid var(--color-information);
    border-color: var(--color-information);
}
.select:active {
    border-color: var(--color-information);
}
.select:disabled {
    color: var(--color-information-contrast-light-01);
    cursor: not-allowed;
    border-color: var(--color-information-contrast-light-01);
}

/* ===================== INPUT ===================== */

/* Base */
.input {
    width: 100%;
    padding: var(--spacing-2);
    border-radius: var(--radius-md);
    border: 1px solid var(--color-form);
    color: var(--color-form);
    background: var(--color-neutral-1000);
    font-size: var(--text-sm);
    box-shadow: var(--shadow-xs);
    transition: border-color 0.2s ease-in-out, background 0.2s ease-in-out;
}

/* States */
.input:hover {
    border-color: var(--color-form-hover);
}

.input:focus {
    outline: 2px solid var(--color-information);
    border-color: var(--color-information);
}

.input:active {
    border-color: var(--color-information);
    color: var(--color-form-active);
}

/* Filled */
.input:not(:placeholder-shown) {
    border-color: var(--color-form);
    color: var(--color-neutral-000);
}

/* Critical */
.input.critical {
    border-color: var(--color-critical);
    color: var(--color-neutral-000);
}

.input.critical:focus {
    outline: 2px solid var(--color-critical);
}

/* Disabled state */
.input:disabled {
    color: var(--color-disabled);
    background: var(--color-disabled-contrast-light);
    cursor: not-allowed;
    border-color: var(--color-disabled);
}