/* ================== LINK ==================== */

/* Link Default */
.link {
    text-decoration: underline;
  }
  
  /* Link Hover */
  .link:hover {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
  }
  
  /* Link Focus */
  .link:focus {
    text-decoration: none;
    border: 2px solid var(--color-information); 
    border-radius: var(--radius-sm);
  }
  
  /* Link Disabled */
  .link:disabled {
    text-decoration: underline;
    color: var(--color-neutral-100);
    pointer-events: none;
  }
  
  /* ============== NOTIFICATION CHIP ================ */
  
  /* .notification-chip {
      display: inline-flex;
      align-items: center;
      padding: 0.25rem 0.75rem;
      background-color: #;
      color: #;
      font-size: 0.875rem;
      font-weight: bold;
      border-radius: 1.5rem;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 0.25rem;
  } */
  
  /* Icon (optional) */
  /* .notification-chip .icon {
      margin-right: 0.5rem;
  } */
  
  /* Text */
  /* .notification-chip span {
      display: inline-block;
  } */
  
  /* ====================== TAG ======================= */
  
  .tag {
      display: inline-block;
      padding: var(--spacing-1) var(--spacing-3);
      border-radius: var(--radius-md);
      text-transform: uppercase;
      margin: var(--spacing-1);
      font-weight: var(--heading-font-weight);
  }
  
  /* Tag Default */
  .tag-default {
      background-color: var(--color-neutral-000);
      color: var(--color-neutral-1000);
  }
  .tag-default-gray {
      background-color: var(--color-neutral-360);
      color: var(--color-neutral-000);
      border: solid var(--color-neutral-100); 
  }
  
  /* Tag Information */
  .tag-information {
      background-color: var(--color-information);
      color: var(--color-neutral-1000);
  }
  .tag-information-gray {
      background-color: var(--color-information-contrast-light-02);
      color: var(--color-information);
      border: solid var(--color-information-contrast-light-01);
  }
  
  /* Tag Success */
  .tag-success {
      background-color: var(--color-success);
      color: var(--color-neutral-1000);
  }
  .tag-success-gray {
      background-color: var(--color-success-contrast-light-02);
      color: var(--color-success);
      border: solid var(--color-success-contrast-light-01); 
  }
  
  /* Tag Warning */
  .tag-warning {
      background-color: var(--color-warning);
      color: var(--color-neutral-1000);
  }
  .tag-warning-gray {
      background-color: var(--color-warning-contrast-light-02);
      color: var(--color-warning);
      border: solid var(--color-warning-contrast-light-01); 
  }
  
  /* Tag Critical */
  .tag-critical {
      background-color: var(--color-critical);
      color: var(--color-neutral-1000);
  }
  .tag-critical-gray {
      background-color: var(--color-critical-contrast-light-02);
      color: var(--color-critical);
      border: solid var(--color-critical-contrast-light-01); 
  }
  
  /* ==================== TOOLTIP ===================== */
  
  /* Tooltip text and default */
  /* .tooltip {
      visibility: hidden;
      width: 120px;
      background-color: #;
      color: #;
      text-align: center;
      border-radius: 5px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
  } */
  
  /* After */
  /* .tooltip::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: # transparent transparent transparent;
  } */
  
  /* Hover */
  /* .tooltip-container:hover .tooltip {
      visibility: visible;
      opacity: 1;
  } */