
/* ================== BUTTON ==================== */

/* Primary Button */
.button-primary {
    padding: var(--gap-button-action-l);
    border-radius: var(--radius-button);
    background: var(--color-button-prim);
    transition: background 0.3s ease;
    /* shape ;
    border ; */ 
  }
  
  /* Hover */
  .button-primary:hover {
    background: var(--color-button-prim-hover);
  }
  
  /* Active */
  .button-primary:active {
    background: var(--color-button-prim-active);
  }

/* Secondary Button */
.button-secondary {
  padding: var(--button-secondary-padding);
  border-radius: var(--radius-button-s);
  background: var(--gap-button-action-s);
  transition: background 0.3s ease;
  /* shape ;
  border ; */ 
}
  
  /* Hover */
  .button-primary:hover {
    background: var(--color-button-sec-hover);
  }
  
  /* Active */
  .button-primary:active {
    background: var(--color-button-sec-active);
  }

/* ================== FORM ==================== */

/* Form */
.form {
  border-radius: var(--radius-form);
  background: var(--color-form);
/* shape ;
  border ; */ 
}

  /* Hover */
  .form:hover {
    background: var(--color-form-hover);
  }
  
  /* Active */
  .form:active {
    background: var(--color-form-active);
  }

  /* Checked */
  .form:hover {
    background: var(--color-control-checked);
    }


/* ================== INPUT ==================== */

/* Input Field */
/* .input-field {
  font-size: var(#);
  line-height: var(#);
  letter-spacing: var(#);
  font-weight: var(#);
  padding: var(#);
  border-radius: var(#);
} */

/* Input Placeholder */
/* .input-placeholder {
  font-size: var(#);
  letter-spacing: var(#);
  font-weight: var(#);
} */
