@import "tailwindcss";

@theme {

/* =============================================== */
/* ================ TYPOGRAPHY =================== */
/* =============================================== */

/* ============== FONT PROPERTIES ================ */
/* =============================================== */

/* ================== DISPLAY ==================== */

/* Display large bold */
--display-l-font-size: var(--text-7xl);
--display-l-line-height: var(--text-7xl--line-height);
--display-l-letter-spacing: 0; /* Tailwind ne définit pas de letter-spacing par défaut */
--display-l-paragraph-spacing: 3rem; /* Valeur arbitraire, à ajuster selon tes besoins */

/* Display small bold */
--display-s-font-size: var(--text-5xl);
--display-s-line-height: var(--text-5xl--line-height);
--display-s-letter-spacing: 0; /* Pas de valeur par défaut dans Tailwind */
--display-s-paragraph-spacing: 2.5rem; /* Valeur ajustable */




  --display-font-weight: var(--typography-font-weight-bold-700);
  --display-mobile-l-font-size: var(--typography-fon-size-fs-56);
  --display-mobile-l-line-height: var(--typography-line-height-lh-64);
  --display-mobile-l-letter-spacing: var(--typography-letter-spacing-nul);
  --display-mobile-l-paragraph-spacing: var(--typography-paragraph-spacing-ps-48);
  --display-mobile-s-font-size: var(--typography-fon-size-fs-48);
  --display-mobile-s-line-height: var(--typography-line-height-lh-56);
  --display-mobile-s-letter-spacing: var(--typography-letter-spacing-nul);
  --display-mobile-s-paragraph-spacing: var(--typography-paragraph-spacing-ps-40);

  /* Heading */
  --h1-font-size: var(--typography-fon-size-fs-48);
  --h1-line-height: var(--typography-line-height-lh-56);
  --h1-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --h2-font-size: var(--typography-fon-size-fs-40);
  --h2-line-height: var(--typography-line-height-lh-48);
  --h2-letter-spacing: var(--typography-letter-spacing-neg-0,25);
  --h3-font-size: var(--typography-fon-size-fs-34);
  --h3-line-height: var(--typography-line-height-lh-36);
  --h3-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --h4-font-size: var(--typography-fon-size-fs-28);
  --h4-line-height: var(--typography-line-height-lh-32);
  --h4-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --h5-font-size: var(--typography-fon-size-fs-24);
  --h5-line-height: var(--typography-line-height-lh-28);
  --h5-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --h6-font-size: var(--typography-fon-size-fs-20);
  --h6-line-height: var(--typography-line-height-lh-24);
  --h6-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --heading-font-weight: var(--typography-font-weight-bold-700);

  /* Body */
  --body-l-font-size: var(--typography-fon-size-fs-16);
  --body-l-line-height: var(--typography-line-height-lh-24);
  --body-l-paragraph-spacing: var(--typography-paragraph-spacing-ps-48);
  --body-s-font-size: var(--typography-fon-size-fs-14);
  --body-s-line-height: var(--typography-line-height-lh-20);
  --body-s-paragraph-spacing: var(--typography-paragraph-spacing-ps-40);
  --body-font-weight: var(--typography-font-weight-regular-400);
  --body-letter-spacing: var(--typography-letter-spacing-nul);

  /* Label */
  --label-xs-font-size: var(--typography-fon-size-fs-12);
  --label-xs-line-height: var(--typography-line-height-lh-12);
  --label-xs-letter-spacing: var(--typography-letter-spacing-pos-0,4);
  --label-s-font-size: var(--typography-fon-size-fs-14);
  --label-s-letter-spacing: var(--typography-letter-spacing-neg-0,25);
  --label-l-font-size: var(--typography-fon-size-fs-16);
  --label-l-letter-spacing: var(--typography-letter-spacing-neg-0,5);
  --label-line-height: var(--typography-line-height-lh-16);
  --label-paragraph-spacing: var(--typography-paragraph-spacing-ps-0);
  --label-font-weight: var(--typography-font-weight-medium-500);

  /* Placeholder */
  --placeholder-font-size: var(--typography-fon-size-fs-16);
  --placeholder-letter-spacing: var(--typography-letter-spacing-neg-0,5);

/* =============================================== */
/* =================== COLORS ==================== */
/* =============================================== */

/* ================ PRIMITIVES =================== */
/* =============================================== */

/* =============== BRAND COLORS ================== */

  /* Primary Colors */

  --color-primary-000: #070414;
  --color-primary-200: #3f3927;
  --color-primary-300: #514c3f;
  --color-primary-400: #6d6755;
  --color-primary-500: #8c846e;
  --color-primary-600: #a39d8b;
  --color-primary-700: #beb9ac;
  --color-primary-800: #d6d2cb;
  --color-primary-900: #f3f0ea;

  /* Neutral Colors */

  --color-neutral-000: #000000;
  --color-neutral-050: #1a1a1a;
  --color-neutral-100: #333333;
  --color-neutral-120: #4d4d4d;
  --color-neutral-140: #5c5c5c;
  --color-neutral-200: #666666;
  --color-neutral-300: #707070;
  --color-neutral-320: #808080;
  --color-neutral-360: #999999;
  --color-neutral-400: #b2b2b2;
  --color-neutral-500: #c2c2c2;
  --color-neutral-550: #b8b8b8;
  --color-neutral-600: #cccccc;
  --color-neutral-640: #d6d6d6;
  --color-neutral-700: #e0e0e0;
  --color-neutral-800: #e5e5e5;
  --color-neutral-900: #f2f2f2;
  --color-neutral-1000: #ffffff;

  /* ============= UTILITY COLORS =============== */

  /* Information */

  --color-information-100: #000e29;
  --color-information-110: #001133;
  --color-information-120: #002266;
  --color-information-200: #003aad;
  --color-information-270: #0047d3;
  --color-information-300: #0759ff;
  --color-information-400: #3377ff;
  --color-information-500: #578fff;
  --color-information-600: #669bff;
  --color-information-700: #99bcff;
  --color-information-800: #d0e2ff;
  --color-information-900: #ebf7ff;

  /* Success */

  --color-success-100: #001c0d;
  --color-success-110: #005122;
  --color-success-120: #00692a;
  --color-success-200: #0d823c;
  --color-success-300: #1e9850;
  --color-success-400: #16df67;
  --color-success-500: #4fed8f;
  --color-success-600: #74f1a7;
  --color-success-700: #a2f6c4;
  --color-success-800: #dafbe7;
  --color-success-900: #f7fdfa;

  /* Warning */

  --color-warning-100: #290f00;
  --color-warning-110: #331300;
  --color-warning-120: #662500;
  --color-warning-200: #a43c00;
  --color-warning-300: #c74900;
  --color-warning-400: #ee5800;
  --color-warning-500: #ff711f;
  --color-warning-600: #ff995c;
  --color-warning-700: #ffceae;
  --color-warning-800: #ffe0cc;
  --color-warning-900: #ffefe4;

  /* Critical */

  --color-critical-100: #290004;
  --color-critical-110: #3d0006;
  --color-critical-120: #72000c;
  --color-critical-200: #9c0010;
  --color-critical-300: #d20319;
  --color-critical-400: #e8132a;
  --color-critical-500: #f0384b;
  --color-critical-600: #f4717e;
  --color-critical-700: #ffb1b9;
  --color-critical-800: #ffd6db;
  --color-critical-900: #fff0f1;

/* =================== TOKENS ==================== */
/* =============================================== */

  /* ============= GLOBAL COLORS ================= */

  --color-default: #0D0E14;
  --color-white: #FFFFFF;
  --color-heading: #373C59;
  --color-accent: #514C3F;
  
  /* Contrast */

  --color-contrast-light-01: #4C537C;
  --color-contrast-light-02: #777FB0;
  --color-contrast-light-03: #C8CDEC;
  --color-contrast-light-04: #E5E5E5;

  /* =========== BUTTON PRIMARY COLORS ========= */

  --color-button-prim: #8C846E;
  --color-button-prim-hover: #6D6755;
  --color-button-prim-contrast-high: #FFFFFF;

  /* ========= BUTTON SECONDARY COLORS ======== */

  --color-button-sec: #8C846E;
  --color-button-sec-hover: #6D6755;
  --color-button-sec-active: #8C846E;
  --color-button-sec-hover-light: #F5F6FF;
  --color-button-sec-contrast-high: #FFFFFF;

  /* ========= BUTTON TERTIARY COLORS ======== */

  --color-button-ter: #0D4123;
  --color-button-ter-hover: #0E670B;

  /* ============== FORM COLORS ============== */

  --color-form: #4C537C;
  --color-form-hover: #222437;
  --color-form-active: #0D0E14;
  --color-control-checked: #8C846E;

  /* ============ DISABLED COLORS ============ */

  --color-disabled: #61699E;
  --color-disabled-contrast-light: #EEF0FC;

  /* ============ SEMANTIC COLORS ============ */

  /* Information */

  --color-information: #0047D3;
  --color-information-contrast-light-01: #D0E2FF;
  --color-information-contrast-light-02: #EBF7FF;
  --color-information-focus: #0759FF;

  /* Success */

  --color-success: #00692A;
  --color-success-contrast-light-01: #A2F6C4;
  --color-success-contrast-light-02: #DAFBE7;

  /* Warning */

  --color-warning: #C74900;
  --color-warning-contrast-light-01: #FFE0CC;
  --color-warning-contrast-light-02: #FFEFE4;
  --color-warning-contrast-dark: #A43C00;

  /* Critical */

  --color-critical: #D20319;
  --color-critical-contrast-light-01: #FFD6DB;
  --color-critical-contrast-light-02: #FFF0F1;

  /* =========== GRADIENTS COLORS =========== */

  --color-gradient-header: linear-gradient(0deg, var(--color-utility-primary-30), var(--color-utility-primary-10));
  --color-gradient-delet-cell: linear-gradient(-90deg, var(--color-utility-critical-100), #fff0f100);

/* =============================================== */
/* ================ ELEVATION ==================== */
/* =============================================== */

/* =============================================== */
/* =============== BORDER RADIUS ================= */
/* =============================================== */
  --radius-r-0: 0rem;
  --radius-r-1: 0.0625rem;
  --radius-r-2: 0.125rem;
  --radius-r-4: 0.25rem;
  --radius-r-6: 0.375rem;
  --radius-r-8: 0.5rem;
  --radius-r-10: 0.625rem;
  --radius-r-12: 0.75rem;
  --radius-r-14: 0.875rem;
  --radius-r-16: 1rem;
  --radius-r-20: 1.25rem;
  --radius-r-24: 1.5rem;
  --radius-r-32: 2rem;

/* =============================================== */
/* ================== SPACING ==================== */
/* =============================================== */
  --spacing-0\.5: 0.125rem;
  --spacing-1: 0.25rem;
  --spacing-1\.5: 0.375rem;
  --spacing-2: 0.5rem;
  --spacing-2\.5: 0.625rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-7: 1.75rem;
  --spacing-8: 2rem;
  --spacing-9: 2.25rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;

/* =============================================== */
/* ================== LAYOUT ===================== */
/* =============================================== */

  /* Widths */
  --widths-001: 5rem;
  --widths-002: 12rem;
  --widths-003: 19rem;
  --widths-004: 26rem;
  --widths-006: 40rem;
  --widths-008: 54rem;
  --widths-009: 61rem;
  --widths-010: 68rem;
  --widths-012: 82rem;
}
