
/* ================== DISPLAY ==================== */
 
/* Display Large Bold */
.typography-display-l {
  font-size: var(--display-l-font-size);
  line-height: var(--display-l-line-height);
  letter-spacing: var(--display-l-letter-spacing);
  margin-bottom: var(--display-l-paragraph-spacing);
  font-weight: var(--font-weight-bold);
}

/* Display Small Bold */
.typography-display-s {
  font-size: var(--display-s-font-size);
  line-height: var(--display-s-line-height);
  letter-spacing: var(--display-s-letter-spacing);
  margin-bottom: var(--display-s-paragraph-spacing);
  font-weight: var(--font-weight-bold);
}

/* Display Mobile Large Bold */
.typography-display-mobile-l {
  font-size: var(--display-mobile-l-font-size);
  line-height: var(--display-mobile-l-line-height);
  letter-spacing: var(--display-mobile-l-letter-spacing);
  margin-bottom: var(--display-mobile-l-paragraph-spacing);
  font-weight: var(--font-weight-bold);
}

/* Display Mobile Small Bold */
.typography-display-mobile-s {
  font-size: var(--display-mobile-s-font-size);
  line-height: var(--display-mobile-s-line-height);
  letter-spacing: var(--display-mobile-s-letter-spacing);
  margin-bottom: var(--display-mobile-s-paragraph-spacing);
  font-weight: var(--font-weight-bold);
}

/* ================== HEADING ==================== */

/* Heading h1 */
.typography-h1 {
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* Heading h2 */
.typography-h2 {
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* Heading h3 */
.typography-h3 {
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* Heading h4 */
.typography-h4 {
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* Heading h5 */
.typography-h5 {
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  letter-spacing: var(--h5-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* Heading h6 */
.typography-h6 {
  font-size: var(--h6-font-size);
  line-height: var(--h6-line-height);
  letter-spacing: var(--h6-letter-spacing);
  font-weight: var(--heading-font-weight);
}

/* ================== BODY ===================== */

/* Body large regular */
.typography-body-l {
  font-size: var(--body-l-font-size);
  line-height: var(--body-l-line-height);
  letter-spacing: var(--body-letter-spacing);
  font-weight: var(--body-font-weight);
  margin-bottom: var(--body-l-paragraph-spacing);
}

/* Body small regular */
.typography-body-s {
  font-size: var(--body-s-font-size);
  line-height: var(--body-s-line-height);
  letter-spacing: var(--body-letter-spacing);
  font-weight: var(--body-font-weight);
  margin-bottom: var(--body-s-paragraph-spacing);
}

/* =================== LABEL ==================== */

/* Label large regular */
.typography-label-l {
  font-size: var(--label-l-font-size);
  letter-spacing: var(--label-l-letter-spacing);
  font-weight: var(--label-font-weight);
}

/* Label small regular */
.typography-label-s {
  font-size: var(--label-s-font-size);
  letter-spacing: var(--label-s-letter-spacing);
  font-weight: var(--label-font-weight);
}

/* Label small caps */
.typography-label-xs {
  font-size: var(--label-xs-font-size);
  line-height: var(--label-xs-line-height);
  letter-spacing: var(--label-xs-letter-spacing);
  font-weight: var(--label-font-weight);
}

/* ================== PLACEHOLDER ================== */

.typography-placeholder {
  font-size: var(--placeholder-font-size);
  letter-spacing: var(--placeholder-letter-spacing);
}
