@charset "UTF-8";

/* 
//////////////////////////////////////////////////////////////////////

DYNAMIC TEMPLATE BY HAT
ITERATION: 00.1
USING: NUNJUCKS, TAILWIND, 11TY & NETLIFY
LAST UPDATE: 04/02/2025

////////////////////////////////////////////////////////////////////// 
*/

@import "tailwindcss";
@import "tailwindcss/preflight";
@import "tailwind/utilities";

