@charset "UTF-8";
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

RRRRRRRRRRRRRRRRRR    RRRRRRRRRRRRRRRRRR     RRRRRRRRRRRRRRRRRR         
RRRRRRRRRRRRRRRRRRR   RRRRRRRRRRRRRRRRRRRR   RRRRRRRRRRRRRRRRRRRR       
RRRRRR        RRRRRR  RRRRRR        RRRRRR   RRRRRR        RRRRRR       
RRRRRR       RRRRRR   RRRRRR        RRRRRR   RRRRRR       RRRRRR        
RRRRRRRRRRRRRRRRR     RRRRRRRRRRRRRRRRRR     RRRRRRRRRRRRRRRRR          
RRRRRRRRRRRRRRRRRR    RRRRRRRRRRRRRRRRRRR    RRRRRRRRRRRRRRRRRR         
RRRRRR       RRRRRR   RRRRRR        RRRRRR   RRRRRR       RRRRRR        
RRRRRR       RRRRRR   RRRRRR        RRRRRR   RRRRRR        RRRRRR       
RRRRRR        RRRRR   RRRRRR        RRRRRR   RRRRRR        RRRRRR       

SPACEM0NK3Y ATOMIC TEMPLATE BY RAPHAËL REGNIER //   ITERATION #00.1
USING NUNJUCKS, SASS, 11TY & NETLIFY
LAST UPDATE : 01/10/2021

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$ABSTRACTS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#VARIABLES
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#COLORS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Brand Colors
/////////////////////// */
/* //////////////////////
	Neutral Colors
/////////////////////// */
/* //////////////////////
	Dimmings
/////////////////////// */
/* //////////////////////
	Utility Colors
/////////////////////// */
/* //////////////////////
	Social Network Colors
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#TYPOGRAPHY
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Font Sizing
/////////////////////// */
/* //////////////////////
	Mobil Font Sizing
/////////////////////// */
/* //////////////////////
	Line heights
/////////////////////// */
/* //////////////////////
	Letter spacings
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#LAYOUT
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Spacing Defaults
/////////////////////// */
/* //////////////////////
	Frame Spacings
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#BORDERS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Border Width
/////////////////////// */
/* //////////////////////
	Border Radius
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#ANIMATION
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Animation Duration
/////////////////////// */
/* //////////////////////
	Animation Easing
/////////////////////// */
/* //////////////////////
	Animation Delay
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#BREAKPOINTS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Breakpoints
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#COLORS
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#GLOBAL COLORS
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#GLOBAL TEXT COLOR
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Body text colors
/////////////////////// */
/* //////////////////////
	Heading Colors
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#LINKS
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#BUTTONS
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#FORMS
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#MIXINS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	CSS Transition // Usage: @include transition(width,0.3s,ease-out);
/////////////////////// */
/* //////////////////////
	Heading Styles
/////////////////////// */
/* //////////////////////
	Body Styles
/////////////////////// */
/* //////////////////////
	Decorative Styles
/////////////////////// */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$BASE
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#RESET
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Scroll Behavior
/////////////////////// */
html {
  scroll-behavior: smooth;
}

/* //////////////////////
	Border Box 4 All
/////////////////////// */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* //////////////////////
	Zero Out Margin & Padding
/////////////////////// */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dd, ol, ul, li, form, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

/* //////////////////////
	Display Block as Base
/////////////////////// */
header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/* //////////////////////////////////////////////////////////////////
	#BODY
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Body base styles
/////////////////////// */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 100vw;
  background: #e6e6e6;
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 1.389vw;
  font-weight: 500;
  color: #1a1a1a;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}
@media all and (max-width: 50em) {
  body {
    font-size: 5.6vw;
  }
}

::selection {
  background-color: #ff4800;
  color: #1a1a1a;
}

/* //////////////////////////////////////////////////////////////////
	#MAIN CONTAINER
////////////////////////////////////////////////////////////////// */
main {
  padding-block: 12.501vw 8.334vw;
}
@media all and (max-width: 50em) {
  main {
    padding-block: 33.6vw;
  }
}

/* //////////////////////////////////////////////////////////////////
	#GLOBAL LAYOUT
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Layout Container
/////////////////////// */
.container {
  position: relative;
  margin-inline: 1vw;
  padding-inline: 1vw;
}
@media all and (max-width: 50em) {
  .container {
    margin-inline: 2vw;
    padding-inline: 2vw;
  }
}

/* //////////////////////
	Section Container
/////////////////////// */
section, .section {
  position: relative;
  padding-block: 9vw 3vw;
  margin: 0;
}

/* //////////////////////////////////////////////////////////////////
	#HEADINGS
////////////////////////////////////////////////////////////////// */
h1 {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 7.0318125vw;
  font-weight: 700;
  line-height: 0.9;
  letter-spacing: -0.024em;
}
@media all and (max-width: 50em) {
  h1 {
    font-size: 18.9vw;
  }
}
@media all and (max-width: 50em) {
  h1 {
    word-wrap: anywhere;
  }
}

h2 {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 3.12525vw;
  font-weight: 700;
  line-height: 0.96;
}
@media all and (max-width: 50em) {
  h2 {
    font-size: 12.6vw;
  }
}

h3 {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 2.0835vw;
  font-weight: 700;
}
@media all and (max-width: 50em) {
  h3 {
    font-size: 8.4vw;
  }
}

/* //////////////////////////////////////////////////////////////////
	#TEXT
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Paragraph Base Styles
/////////////////////// */
p {
  padding-bottom: 1.5vw;
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 1.389vw;
  font-weight: 500;
  line-height: 1.4;
}
@media all and (max-width: 50em) {
  p {
    font-size: 5.6vw;
  }
}
@media all and (max-width: 50em) {
  p {
    padding-bottom: 8vw;
  }
}

/* //////////////////////
	Strong Base Styles
/////////////////////// */
strong, b, .strong {
  font-weight: 700;
}

/* //////////////////////
	Small Base Styles
/////////////////////// */
figcaption, small, .small {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
}
@media all and (max-width: 50em) {
  figcaption, small, .small {
    font-size: 2.4888888889vw;
  }
}

/* //////////////////////
	Blockquote Base Styles
/////////////////////// */
blockquote {
  padding-left: 1vw;
  padding-bottom: 1vw;
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
  color: #c4c4c4;
}
@media all and (max-width: 50em) {
  blockquote {
    font-size: 2.4888888889vw;
  }
}

/* //////////////////////
	Horizontal Rule Base Styles
/////////////////////// */
hr {
  height: 2.0835vw;
  margin: 0;
  border: 0;
}

/* //////////////////////
	Abbreviation Base Styles
/////////////////////// */
abbr {
  border-bottom: 1px dotted #808080;
  cursor: help;
}

/* //////////////////////
	Highlight
/////////////////////// */
mark {
  background-color: #ff4800;
}

/* //////////////////////////////////////////////////////////////////
	#LISTS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Ordered/Unordered list Base Styles
/////////////////////// */
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #1a1a1a;
}

/* //////////////////////
	Definition list Base Styles
/////////////////////// */
dl {
  overflow: hidden;
  margin: 0 0 1vw;
}

/* //////////////////////
	Terms/Names Base Styles
/////////////////////// */
dt {
  font-weight: bold;
}

/* //////////////////////
	Definition List Description Base Styles
/////////////////////// */
dd {
  margin-left: 0;
}

/* //////////////////////////////////////////////////////////////////
    #LINKS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Link Base Style
/////////////////////// */
a {
  outline: 0;
  color: #1a1a1a;
  text-decoration: underline;
  transition: all 0.21s ease;
}
a:hover, a:focus {
  color: #ff4800;
}
a:active {
  color: #1a1a1a;
}

/* //////////////////////
	Link
/////////////////////// */
.link {
  position: relative;
  display: inline-block;
  text-decoration: none !important;
}
.link:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 66%;
  height: 0.1vw;
  background-color: #1a1a1a;
  transition: all 0.21s ease-in 0.9009s;
}
.link:hover {
  color: #ff4800;
}
.link:hover:after {
  width: 100%;
  background-color: #ff4800;
  transition: all 0.21s ease-in;
}
@media all and (max-width: 50em) {
  .link:after {
    width: 100%;
    height: 1px;
  }
}

/* //////////////////////////////////////////////////////////////////
	#MEDIA ELEMENTS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Make Media Responsive
/////////////////////// */
img, video, object {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* //////////////////////
	Iframe Base Styles
/////////////////////// */
iframe {
  padding-bottom: 1vw;
}

/* //////////////////////
	Figure Base Styles
/////////////////////// */
figure {
  padding-bottom: 1vw;
}
figure img {
  padding-bottom: 0.5vw;
}

figcaption {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
  color: #5e5e5e;
}
@media all and (max-width: 50em) {
  figcaption {
    font-size: 2.4888888889vw;
  }
}

/* //////////////////////////////////////////////////////////////////
	#GLOBAL CLASSES
////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#HIDINGS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Remove From Flow & Screen Readers
/////////////////////// */
.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

/* //////////////////////
	Remove From Flow But Available 4 Screen Readers
/////////////////////// */
.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/* //////////////////////
	Hide On Small Screens
/////////////////////// */
@media all and (max-width: 50em) {
  .hide-small {
    display: none !important;
  }
}

/* //////////////////////
	Hide On Large Screens
/////////////////////// */
@media all and (min-width: 50em) {
  .hide-large {
    display: none !important;
  }
}

/* //////////////////////////////////////////////////////////////////
	#TEXT ALIGNMENTS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Text Align Right
/////////////////////// */
.align-right {
  text-align: right;
}

/* //////////////////////
	Text Align Left
/////////////////////// */
.align-left {
  text-align: left;
}

/* //////////////////////
Text Align Center
/////////////////////// */
.align-center {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////
	#UTILITY COLORS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Show Valid Text Color
/////////////////////// */
.valid {
  color: #03804d;
}

/* //////////////////////
	Show Error Text Color
/////////////////////// */
.error {
  color: #b12a0b;
}

/* //////////////////////
	Show Warning Text Color
/////////////////////// */
.warning {
  color: #a59b15;
}

/* //////////////////////
	Show Informational Text Color
/////////////////////// */
.information {
  color: #0192d0;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$COMPONENTS
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#FEATURED ARTICLES BLOCK
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Featured Intro
/////////////////////// */
.featured__intro {
  max-width: 33vw;
}
@media all and (max-width: 50em) {
  .featured__intro {
    max-width: unset;
  }
}

/* //////////////////////
	Featured Title
/////////////////////// */
.featured__title {
  padding-bottom: 1.5vw;
}

/* //////////////////////////////////////////////////////////////////
	#ARTICLE SECTION
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Article
/////////////////////// */
.main-article {
  margin-bottom: 3vw;
}

/* //////////////////////
	Article Title
/////////////////////// */
.article-title {
  padding-bottom: 6vw;
}

/* //////////////////////
	Article Figure
/////////////////////// */
.main-article__figure figcaption {
  margin-block: 0 1vw;
}

/* //////////////////////
	Article Content
/////////////////////// */
.main-article p {
  max-width: 67vw;
}
@media all and (max-width: 50em) {
  .main-article p {
    max-width: unset;
  }
}

/* //////////////////////////////////////////////////////////////////
	#HERO BLOCK
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Hero Section
/////////////////////// */
.hero {
  padding-bottom: 9vw;
}

.hero__grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  align-items: center;
  gap: 3em;
}
@media all and (max-width: 50em) {
  .hero__grid {
    grid-auto-flow: row;
  }
}

/* //////////////////////
	Hero Content
/////////////////////// */
/* //////////////////////
	Hero Titles
/////////////////////// */
.hero__title {
  padding-bottom: 1vw;
}

.hero__subtitle {
  padding-bottom: 6vw;
}

/* //////////////////////
	Hero Button Group
/////////////////////// */
.hero__btn-group {
  padding-top: 1.5vw;
}

/* //////////////////////
	Hero Image
/////////////////////// */
.hero__image {
  width: 100%;
  object-fit: cover;
}

/* //////////////////////////////////////////////////////////////////
	#SNIPPET BLOCK
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Snippet
/////////////////////// */
.snippet {
  display: grid;
  gap: 0.3333333333vw;
  grid-template-areas: "title image" "meta image" "body image" "button image";
  grid-column-gap: 4vw;
  grid-template-columns: 1fr 40%;
  grid-template-rows: min-content min-content min-content 1fr;
}
@media all and (max-width: 50em) {
  .snippet {
    grid-template-areas: "image" "title" "meta" "body" "button";
    grid-column-gap: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
}

/* //////////////////////
	Snippet Image
/////////////////////// */
.snippet__image {
  grid-area: image;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}

/* //////////////////////
	Snippet Title
/////////////////////// */
.snippet__title {
  grid-area: title;
  padding-bottom: 1vw;
}
.snippet__title a {
  color: #1a1a1a;
  text-decoration: none;
}
.snippet__title a:hover, .snippet__title a:focus {
  color: #1a1a1a;
}

/* //////////////////////
	Snippet Meta
/////////////////////// */
.snippet__meta {
  grid-area: meta;
  padding-bottom: 0;
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
  color: #5e5e5e;
}
@media all and (max-width: 50em) {
  .snippet__meta {
    font-size: 2.4888888889vw;
  }
}

/* //////////////////////
	Snippet Button
/////////////////////// */
.snippet .btn {
  grid-area: button;
  align-self: start;
  justify-self: start;
  margin-top: 1.5vw;
}

/* //////////////////////////////////////////////////////////////////
	#BUTTONS
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Button
/////////////////////// */
.btn {
  display: inline-block;
  padding: 0.75vw 1.75vw;
  border-radius: 0.3vw;
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  cursor: pointer;
  transition: all 0.21s ease-in;
}
@media all and (max-width: 50em) {
  .btn {
    font-size: 2.4888888889vw;
  }
}
.btn:focus {
  outline: 0.125vw solid #1a1a1a;
  outline-offset: 0.25vw;
}
@media all and (max-width: 50em) {
  .btn {
    padding: 1.8vw 3vw;
    border-radius: 0.7vw;
  }
}

/* //////////////////////
	Primary Button
/////////////////////// */
.btn--primary {
  background-color: #1a1a1a;
  border: 3px solid #1a1a1a;
  color: #e6e6e6;
}
.btn--primary:hover, .btn--primary:focus {
  background-color: #ff4800;
  border-color: #ff4800;
  color: #1a1a1a;
}

/* //////////////////////
	Secondary Button
/////////////////////// */
.btn--secondary {
  background-color: transparent;
  border: 3px solid #1a1a1a;
  color: #1a1a1a;
  font-weight: 700;
}
.btn--secondary:hover, .btn--secondary:focus {
  border-color: #ff4800;
  color: #ff4800;
}

/* //////////////////////
	Text Button
/////////////////////// */
/* //////////////////////////////////////////////////////////////////
	#FOOTER
////////////////////////////////////////////////////////////////// */
.site-footer {
  margin: 2vw;
  padding-block: 2vw;
  background-color: #1a1a1a;
  border-radius: 1vw;
  color: #c4c4c4;
}
@media all and (max-width: 50em) {
  .site-footer {
    margin: 4vw;
    border-radius: 3vw;
  }
}
.site-footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}
.site-footer .brand-logo .st0 {
  fill: #808080;
}

.copyright {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 0.926vw;
  font-weight: 500;
  padding-bottom: 0;
}
@media all and (max-width: 50em) {
  .copyright {
    font-size: 2.4888888889vw;
  }
}

/* //////////////////////////////////////////////////////////////////
	#HEADER
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Site Header Styles
/////////////////////// */
.site-header {
  position: fixed;
  width: 100vw;
  padding-block: 2vw;
  z-index: 1;
}

.site-header__content {
  display: flex;
  justify-content: space-between;
}

/* //////////////////////////////////////////////////////////////////
	#LOGO
////////////////////////////////////////////////////////////////// */
.brand-logo {
  width: 6vw;
}
@media all and (max-width: 50em) {
  .brand-logo {
    width: 15vw;
  }
}

/* //////////////////////////////////////////////////////////////////
	#SNIPPET LIST
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Snippet List
/////////////////////// */
.snippet__list {
  margin-block: 6vw 0;
}
@media all and (max-width: 50em) {
  .snippet__list {
    margin-block: 12vw 0;
  }
}

/* //////////////////////
	Snippet List Element
/////////////////////// */
.snippet__list-element {
  margin-bottom: 9vw;
}

/* //////////////////////////////////////////////////////////////////
	#PRIMARY NAVIGATION
////////////////////////////////////////////////////////////////// */
/* //////////////////////
	Heading Styles
/////////////////////// */
.primary-nav {
  margin: 0;
  padding: 0;
}

/* //////////////////////
	Nav List
/////////////////////// */
.primary-nav__list {
  display: flex;
}

/* //////////////////////
	Nav Items
/////////////////////// */
.primary-nav__item {
  padding-inline: 1.5vw;
}
.site-header__content .primary-nav__item:last-of-type {
  padding-right: 0;
}

/* //////////////////////
	Nav Links
/////////////////////// */
.primary-nav__link {
  font-family: "Helvetica Neue", "sans-serif";
  font-size: 1.389vw;
  font-weight: 500;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #1a1a1a;
  white-space: nowrap;
  transition: 0.21s ease-in;
}
@media all and (max-width: 50em) {
  .primary-nav__link {
    font-size: 5.6vw;
  }
}
.primary-nav__link:hover {
  text-decoration: underline;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
	$LAYOUT
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*# sourceMappingURL=style.css.map */
