{#
=========================
          MENU        
=========================
#}

{% macro renderMenu(options) %}
  {% if options.datas %}
    {% set globalStyle = options.datas.globalStyle %}
    
    {% set menuData = null %}
    {% if options.name %}
      {% for menuSet in options.datas.menus %}
        {% if menuSet.name == options.name %}
          {% set menuData = menuSet %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if not menuData %}
      {% set menuData = options.datas.menus[0] %}
    {% endif %}
    
    {% set stateClasses = {
      'default': options.datas.variants.default | default('text-gray-800'),
      'hover': options.datas.variants.hover | default('text-gray-600'),
      'focus': options.datas.variants.focus | default('text-gray-800 outline-2 outline-blue-500 outline-offset-2'),
      'active': options.datas.variants.active | default('text-blue-600 font-bold')
    } %}
    
    {% set headingText = menuData.heading %}
    {% set headingLevel = 2 %}
    {% set headingStyle = menuData.headingStyle %}
    
    {% if options.headings %}
      {% for heading in options.headings.headings %}
        {% if heading.name == menuData.heading %}
          {% set headingText = heading.text %}
          {% set headingLevel = heading.level %}
          {% set headingStyle = headingStyle + ' ' + options.headings.variants[heading.style|default('default')] %}
        {% endif %}
      {% endfor %}
    {% endif %}
    
    <nav class="{{ globalStyle }} {{ options.class | default('') }}">
      <h{{ headingLevel }} class="{{ headingStyle }}">{{ headingText }}</h{{ headingLevel }}>
      <ul class="{{ menuData.menuStyle }}">
        {% for item in menuData.links %}
          <li>
            {% if options.links %}
              {# Try to find the corresponding link #}
              {% set linkFound = false %}
              {% for link in options.links.links %}
                {% if link.name == item.name %}
                  <a href="{{ link.href }}" 
                     class="{{ stateClasses.default }}"
                     onmouseover="this.className='{{ stateClasses.hover }}'" 
                     onmouseout="this.className='{{ stateClasses.default }}'"
                     onfocus="this.className='{{ stateClasses.focus }}'"
                     onblur="this.className='{{ stateClasses.default }}'">
                    {{ link.text }}
                  </a>
                  {% set linkFound = true %}
                {% endif %}
              {% endfor %}
              
              {% if not linkFound %}
                <span class="{{ stateClasses.default }}">
                  {{ item.name }}
                </span>
              {% endif %}
            {% else %}
              <span class="{{ stateClasses.default }}">
                {{ item.name }}
              </span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    <span class="text-red-500">Menu data not found</span>
  {% endif %}
{% endmacro %}


{#
============================
Summon HAT Components Wisely
============================

1. Import the macro at the top of your page
{% from "03-organisms/menu.njk" import renderMenu %}

2. Call the menu component with a specific name
{{ renderMenu({ 
    name: "main_navigation",
    datas: organisms.menus,
    links: atoms.links,
    headings: atoms.headings
}) }}

3. Using custom styles
{{ renderMenu({ 
    name: "footer_navigation",
    datas: organisms.menus,
    links: atoms.links,
    headings: atoms.headings,
    class: "my-custom-menu-class"
}) }}

4. Structure of menus.json
{
  "menus": [
    {
      "name": "main_navigation",
      "heading": "Quest Log",
      "menuStyle": "flex flex-col space-y-2",
      "headingStyle": "text-lg font-semibold text-gray-900 mb-2",
      "links": [
        {
          "name": "tavern"
        },
        {
          "name": "lore"
        }
      ]
    }
  ]
}

Each path leads to glory or peril ⚔️☠️
#}