<div class="p-4 mx-auto max-w-xl bg-white font-[sans-serif]">
    <h1 class="text-2xl text-gray-800 font-bold text-center">Contact us</h1>
    <form action="/submit-form" name="contact" method="POST" data-netlify="true" class="mt-8 space-y-4">

        <!-- Honeypot hidden input -->
        <input type="text" name="bot-field" style="display: none;">

        {% for input in contact.inputs %}
            {% set id = input.id %}
            {% set name = input.name %}
            {% set label = input.label %}
            {% set required = input.required %}
            {% set placeholder = input.placeholder %}
            {% set value = input.value %}
            {% set pattern = input.pattern %}
            {% set minlength = input.minlength %}
            {% set maxlength = input.maxlength %}

            {% include "02-atoms-inputs/input-text.njk" %}
        {% endfor %}

        <!-- Message textarea -->
        <div class="form-group">
            <label for="message" class="form-label">Message</label>
            <textarea id="message" name="message" rows="4" class="w-full px-4 text-gray-800 bg-gray-100 border focus:border-black focus:bg-transparent text-sm pt-3 outline-none transition-all" required="required" placeholder="Write your message"></textarea>
        </div>

        <!-- Google reCAPTCHA -->
        <div data-netlify-recaptcha="true"></div>

        {% include '02-atoms-buttons/button-submit.njk' %}
    </form>
</div>