<a href="{{ btnHref }}" 
   class="btn px-5 py-2.5 rounded-lg text-sm tracking-wider font-medium border border-current outline-none whitespace-nowrap
          {% if btnStyle == 'primary' %}bg-black hover:bg-white text-white hover:text-black{% endif %}
          {% if btnStyle == 'neutral' %}#{% endif %}
          {% if btnStyle == 'default' %}#{% endif %}
          ">
    {{ btnLabel }}
</a>



