---
title: Blog
description: This is the blog page
layout: '00-organisms-global/base.njk'
---

{# For blog page, use hero_blog.json #}
{% set pageData = hero_blog %}
{% include "00-organisms-sections/section-page-header.njk" %}


<div class="section container">

    <ul role="list" class="articles__list flow">
        {%- for post in collections.post | reverse -%}
            {% include '01-molecules-cards/card-post.njk' %}
        {%- endfor -%}
    </ul>
    
</div>
