--- 
title: Contact 
description: This is the contact page 
layout: '01-organisms/base.njk' 
---

<!-- For contact page content, use hero_contact.json -->
{% set pageData = hero_contact %}

<div class="mt-6">
    <div class="grid sm:grid-cols-2 items-start gap-12 p-8 mx-auto max-w-4xl bg-white shadow-[0_2px_10px_-3px_rgba(6,81,237,0.3)] rounded-md font-[sans-serif]">
        <div>

            {# Include section page hero #}
            {% include '01-organisms-sections/section-page-hero.njk' %}

            <!-- Email contact section -->
            <div class="mt-12">
                <h2 class="text-gray-800 text-base font-bold">Email</h2>
                <ul class="mt-4">
                    <li class="flex items-center">
                        <div class="bg-critical h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                            <svg class="w-5 h-5 text-gray-500">
                                <use xlink:href="/assets/svg/sprite.svg#icon-mail"></use>
                            </svg>
                        </div>
                        <a href="javascript:void(0)" class="text-gray-800 text-sm ml-4">
                            <small class="block">Mail</small>
                            <strong>info@example.com</strong>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Social media links -->
            <div class="mt-12">
                <h2 class="text-gray-800 text-base font-bold">Socials</h2>

                <ul class="flex mt-4 space-x-4">
                    <li class="bg-[#e6e6e6cf] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                        <a href="javascript:void(0)">
                            <svg class="w-5 h-5 text-gray-500">
                                <use xlink:href="/assets/svg/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="bg-[#e6e6e6cf] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                        <a href="javascript:void(0)">
                            <svg class="w-5 h-5 text-gray-500">
                                <use xlink:href="/assets/svg/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="bg-[#e6e6e6cf] h-10 w-10 rounded-full flex items-center justify-center shrink-0">
                        <a href="javascript:void(0)">
                            <svg class="w-5 h-5 text-gray-500">
                                <use xlink:href="/assets/svg/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Contact form section -->
        <div class="flex flex-col items-center space-y-6">

            {% include '01-molecules-forms/form-contact.njk' %}
        </div>

    </div>
</div>