--- 
title: Contact 
description: This is the contact page 
layout: '00-core/base.njk' 
---

{% from "01-organisms/section-contact.njk" import renderSectionContact %}

{{ renderSectionContact({ 
    name: "default",
    datas: organisms["section-contacts"],
    headings: atoms.headings,
    listForms: molecules["list-forms"],
    buttons: atoms.buttons,
    atoms: atoms
}) }}