---
title: Hat dynamic site
layout: 'organisms-global/base.njk'
---

{# Set hero section data from hero.json #}
{% set pageData = hero %}

{# Include hero section #}
{% include 'organisms/section-hero.njk' %}

{# Include featured section #}
{% include 'organisms/section-featured.njk' %}

{# Include about section #}
{% include 'organisms/section-about.njk' %}
