---
title: RRR dynamic site
layout: '00-organisms-global/base.njk'
---


{% include '00-organisms-sections/section-hero.njk' %}

<section id="featured-articles" class="featured-articles">
    <div class="container flow">
        <h2 class="section-title text-center ">Featured articles</h2>
        <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
        <ul role="list" class="articles__list flow">
            {%- for post in collections.featured | reverse -%}
                {% include '01-molecules-cards/card-post.njk' %}
            {%- endfor -%}
        </ul>
    </div>
</section>

{% include '00-organisms-sections/section-about.njk' %}
