---
title: Test
description: This is the component test page.
layout: '00-organisms-global/base.njk'
---

{% from "02-atoms-form/select.njk" import selectBox %}

<div class="mt-6 p-4 mx-auto max-w-xl">
    <h1 class="typography-h1 text-center">Component Test Page</h1>

    <section class="mt-6 mb-6 w-1/2 mx-auto">
        <h2 class="typography-h2">Select</h2>

        {{ selectBox("categories", select.categories) }}
        {{ selectBox("locations", select.locations) }}
    </section>
</div>

