<!-- ========================= -->
<!--          LINK            -->
<!-- ========================= -->

{% macro renderLink(option) %}
  <a href="{{ option.href }}" class="typography-label-l link">
    {{ option.text }}
  </a>
{% endmacro %}

<!-- ========================= -->
<!-- HOW TO USE THIS COMPONENT -->
<!-- ========================= -->

<!-- 1. Import the macro at the top of your page -->
{# {% from "02-atoms-navigation/link.njk" import renderLink %} #}

<!-- 2. Insert the component in your template -->
{# {{ renderLink(links.link_home) }} #}

<!-- 3. Replace "link_home" with your actual key from select.json corresponding to the desired options (e.g., "link_home", "link_services", etc.) -->
