<!-- ========================= -->
<!--          LINK            -->
<!-- ========================= -->

{% macro renderLink(options) %}
  {% for option in options %}
    <a href="{{ option.href }}" class="typography-label-l link">
      {{ option.text }}
    </a>
  {% endfor %}
{% endmacro %}

<!-- ========================= -->
<!-- HOW TO USE THIS COMPONENT -->
<!-- ========================= -->

<!-- 1. Import the macro at the top of your page -->
{# {% from "02-atoms-navigation/link.njk" import renderLink %} #}

<!-- 2. Insert the component in your template -->
{# {{ renderLink("links", links.link_home) }} #}

<!-- 3. Replace "categories" with your actual key from select.json -->
